* {
    box-sizing: border-box;
  }
  
  body {
    background: rgb(208, 196, 196);
    max-width: 400px;
    margin: 0 auto; 
  }
  
  .log-workout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  
  .btn {
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid black;
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
  }
  
  .btn.btn-done {
    background: rgba(98, 232, 219, 0.2);
    border: 1px solid rgb(14, 156, 59);
    color: rgb(15, 183, 46)
  }
  
  .btn.btn-done:hover,
  .btn.btn-done:focus-visible {
    background: rgba(2, 254, 103, 0.538);
  }
  
  .log-workout input {
    outline: none;
    border: 2px solid black;
    background: hsl(201, 56%, 86%);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: black
  }
  
  .log-workout input:focus {
    border: 1px solid hsl(200, 79%, 62%);
  }
  
  .header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  } 
  
  .list {
    margin: 0;
    padding: 0;
    margin-left: rem;
    list-style: none;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  